**/.gradle
**/bin/
/app/build/classes
/app/build/distributions
/app/build/generated
/app/build/scripts
/app/build/scriptsShadow
/app/build/tmp

!/app/build/libs

**/gradle-app.setting

!gradle-wrapper.jar
!gradle-wrapper.properties

**/.gradletasknamecache
**/.project
**/.classpath